!.gitignore

**/target/
.idea/
*.iml
.DS_Store
.*.settings.xml
**/.logs

# eclipse
.settings/
.project
.classpath
/bin/

**/.tmp/
**/coverage/

# Deepcode (Snyk Code) cache
**/.dccache

# Exclude flattened version of the pom, for details see https://maven.apache.org/maven-ci-friendly.html#install-deploy
.flattened-pom.xml
